.aboutUs-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto
}

.aboutText-wrapper {
  padding: 1em .75em;
}

.aboutTitle {
  margin: auto;
  text-align: center;
  padding: .5em;
}

.aboutImg-wrapper {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid white;
}
.coaches img{
  object-position: 0 -4.5em;
}

.bldg img{
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.interior {
  object-fit: cover;
}
.interior img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 1em 1em; */
}

.aboutText-wrapper {
  font-size: var(--size-base);
}
.aboutText-wrapper h3 {
  font-size: var(--size-lg);
}

/* xs */
@media (min-width: 475px) {
  .aboutUs-wrapper{
    /* max-width: 475px; */
    margin: auto;
  }
}

/* sm */
@media (min-width: 640px) {
  .aboutUs-wrapper {
    /* border: 1px solid white;
    border-radius: 2em; */
    overflow: hidden;
    /* max-width: 640px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'tleft tright'
    'mleft mright'
    'bleft bright';
  }
  .coaches img, .bldg img, .interior img {
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .aboutImg-wrapper {
    height: 27em;
    object-fit: cover;
    border: none;
  }
  .coaches {
    grid-area: mright;
  }
  .aboutText-wrapper {
    padding: 1em 1em .5em;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid white; */
  }
  .aboutText-wrapper h3{
    text-align: center;
    color: var(--clr-azure);
    padding-bottom: 1em;
  }
  .missionCont {
    padding-top: 2em;
  }
}

/* md */
@media (min-width: 768px) {
  .aboutUs-wrapper {
    max-width: none;
  }
  .aboutText-wrapper {
    font-size: var(--size-lg);
  }
  .aboutText-wrapper h3 {
    font-size: var(--size-xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .coaches img {
    object-position: top;
    object-position: 0em -4em;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .aboutText-wrapper {
    font-size: var(--size-xl);
  }
  .aboutText-wrapper h3 {
    font-size: var(--size-2xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .aboutUs-wrapper {
    max-width: 1280px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
