.free-class {
  padding: 1em 0;
  background-color: var(--clr-azure);
  /* border: 1px solid red; */
}

.banner {
  display: flex;
  overflow: hidden;
  user-select: none;
  /* gap: 2rem; */
}

.banner ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-shrink: 0;
  font-family: "Oswald", sans-serif;
  font-size: var(--size-2xl);

  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.banner ul li {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}