/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.benefits__container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  /* background: var(--clr-purple); */
}

.benefits {
  display: flex;
  flex-direction: column;
}

.fontOnly{
  font-family: "Oswald", sans-serif;
}

.benefits__container ul {
  /* width: 100%; */
  height: 20em;
  list-style: none;
  padding: 2em .5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* padding-top: 1em; */
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid white;
}


.benefits__container ul li img {
  display: block;
  width: 5em
}

/* Card background colors */
.first, .third {
  background-color: var(--clr-card);
}


/* xs */
@media (min-width: 475px) {
  .benefits{
    max-width: 475px;
  }

  .benefits__container ul {
    padding: 2em;
  }
}

/* sm */
@media (min-width: 640px) {
  .benefits {
    max-width: 640px;
    align-items: center;
    justify-content: center;
  }
  .benefits__container ul {
    padding: 2em;
  }
}

/* md */
@media (min-width: 768px) {
  .benefits {
    max-width: 768px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .benefits__container ul {
    padding: 3em;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    border: 1px solid white;
  }
  .benefits__container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fontOnly {
    height: 3em;
    font-size: var(--size-lg);
  }
  .second, .third {
    background-color: var(--clr-dark);
  }
  .first, .fourth {
    background-color: var(--clr-card);
  }
}

/* lg */
@media (min-width: 1024px) {
  .benefits {
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(510px, 1fr));
  }
  .benefits__container ul {
    padding: 3em;
  }
  .fontOnly {
    height: 2em;
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .benefits {
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
  }
  .benefits__container ul {
    padding: 3.5em;
  }
  .fontOnly {
    height: 2.25em;
    font-size: var(--size-2xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */