input,
button,
select,
textarea,
option {
  font: inherit;
  font-size: inherit;
}

input[type="text"]:focus,[type="email"]:focus,[type="tel"]:focus {
  outline: 3px solid var(--clr-azure);
}
.form-group label {
  text-transform: uppercase;
}

.bookingTitle {
  text-align: center;
  color: var(--clr-azure);
}

.booking__page-container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 3em
}

.booking-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

input {
  /* background: var(--clr-accentLighter); */
  /* color: white; */
  text-align: center;
  border-radius: 3em;
  padding: .25em;
  /* border: 1px solid var(--clr-azure); */
}

#privacy {
  text-decoration: underline;
}

.bookingForm {
  margin: 1em;
  width: 100%;
  padding: 1em 1.5em;
  border: 1px solid white;
  border-radius: 2em;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  /* justify-content: center; */
  justify-items: center;
  grid-auto-rows: auto;
  gap: .5em;
    /* 'details details'
    'selectedClass selectedClass'
    'changeBtn changeBtn'
    'udeets udeets'
    'fName lName'
    'emailBox telBox'
    'submit submit'; */
}

.form-group {
  display: grid;
  gap: 1em;
  text-align: center;
  width: 100%;
}

.formUdetails {
  text-align: center;
}

.form-group label {
  font-size: var(--size-lg);
}

.formCdetails {
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-top: 1em;
}

#formPlaceholder {
  gap: 0;
  padding-bottom: 1em;
}

#changeClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 25px; */
}

.marketingBox {
  margin-top: 2em;
  text-align: center;
}

.formh3 {
  font-size: var(--size-xl);
}

.formbtn {
  border-radius: 1em;
  height: 2.25em;
  width: 10em;
  margin: .5em 0;
}

/* CALENDAR AREA */
.calendarBlock {
  display: none;
  /* width: 100%; */
  /* height: 100%; */
  background-color: var(--clr-accentLighter);
  /* background-image: url(/media/round4exterior.avif); */
  background-position: center;
  background-size: cover;
}



/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  input {
  padding-left: 1em;
  text-align: left;
  }
  .form-group {
    grid-template-columns: .75fr 2fr;
    text-align: left;
    padding: .5em 0;
  }
  .form-group label {
    text-align: start;
    padding-left: 1em;
  }
  .form-group label {
    font-size: var(--size-xl);
  }
  .formh3 {
    font-size: var(--size-2xl);
  }
  .formCdetails {
    padding-top: 0.5;
  }
  
  #formPlaceholder {
    padding-bottom: 0;
  }
  
}

/* lg */
@media (min-width: 1024px) {
  .booking-wrapper {
    display: grid;
    gap: 0;
    grid-template-columns: 1.2fr 1fr;
    grid-area: 'calendarBox formHere';
    padding: .5em;
    /* border: 1px solid white; */
  }
  .form-group {
    grid-template-columns: 1fr 1.5fr;
  }
  .bookingForm{
    /* grid-area: formHere; */
    /* border: 1px solid red; */
    margin: 0;
    border-radius: 0 2em 2em 0;
    border-left: none;
  }
  #changeClass {
    display: none;
  }
  .calendarBlock {
    display: block;
    /* border: 1px solid red; */
    border-radius: 2em 0 0 2em;
    border: 1px solid white;
    border-right: none;
    overflow: hidden;
    padding: 2.5em 0.5em;
    /* grid-area: calendarBox; */
    height: 100%;
  }
}

/* xl */
@media (min-width: 1280px) {
  .booking-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .form-group {
    grid-template-columns: 1fr 2fr;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
