footer {
  background-color: var(--clr-purple);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__sect {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid antiquewhite; */
  gap: 2em;
  padding: 2em 1em;
}

.footer__slogan {
  /* border: 1px solid blue; */
  text-align: center;
  font-size: var(--size-2xl);
}

.footer__slogan h1{
  color: var(--clr-azure);
}

.footer__slogan p {
  font-family: "Oswald", sans-serif;
}

.footer-label {
  font-family: "Oswald", sans-serif;
  color: var(--clr-azure);
}

/* SOCIALS */
.footer__socials {
  /* border: 1px solid green; */
}
.footer__socials ul {
  list-style: none;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.footer__socials ul li {
  background-color: white;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__socials ul li a {
  width: 1.2em;
  height: 1.2em;
}

.footer__socials ul li:hover {
  background-color: var(--clr-azure);
  fill: white;
  stroke: white;
  transition: ease-in .15s;
}


/* GYM INFO (HOURS, ADDRESS(address,email) */
.footer__info {
  text-align: center;
  padding: 0 0 1.5em 0;
  /* border: 1px solid yellow; */
}
.footer__info-hours {
  text-align: center;
  /* border: 1px solid white; */
}

.hours-table {
  text-align: start;
}

.hours-table td {
  padding: .2em 1em;
}

/* NAVS */
.footer__nav {
  /* border: 1px solid rgb(73, 73, 38); */
  /* font-style: italic; */
  padding: 1em 0;
}

.footer__nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.footer__nav-links li:hover{
  color: var(--clr-light);
  /* background-color: var(--clr-azure); */
  transition: all ease-in .15s;

}
.footer__nav-links {
  padding: 0;
  gap: 12px;
}

/* COPYRIGHT */
.footer__copyright {
  text-align: center;
  font-size: var(--size-sm);
  font-style: italic;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .footer__sect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .85fr 1fr .5fr;
    grid-template-areas:
    'top top'
    'tleft tright'
    'lleft lright'
    'bottom bottom';
    padding: 1em;
    gap: 0em;
    max-width: 768px;
  }

  .footer__slogan {
    /* border: 1px solid white; */
    grid-area: top;
  }
  .footer__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    grid-area: tright;
  }
  .footer__socials ul{
    gap: 1em;
  }
  .footer__info {
    grid-area: tleft;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1.5em;
    font-size: var(--size-lg);
  }

  .footer__info-hours {
    grid-area: lleft;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__nav {
    grid-area: lright;
  }
  .footer__copyright {
    grid-area: bottom;
  }
}


/* lg */
@media (min-width: 1024px) {
  .footer__sect{
    max-width: 1024px;
  }
  .footer__slogan {
    font-size: var(--size-3xl);
  }
  .footer__socials {
    font-size: var(--size-2xl);
  }
  .footer__info {
    font-size: var(--size-xl);
  }
  .footer__info h4 {
    font-size: var(--size-2xl);
  }
  .footer__info-hours {
    font-size: var(--size-lg);
  }
  .footer__info-hours h3{
    font-size: var(--size-2xl);
  }
  .footer__nav {
    font-size: var(--size-xl);
  }
  .footer__copyright {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .footer__sect{
    max-width: 1280px;
  }
  .footer__slogan {
    font-size: var(--size-4xl);
  }
  .footer__socials {
    font-size: var(--size-2xl);
  }
  .footer__info {
    font-size: var(--size-2xl);
  }
  .footer__info h4 {
    font-size: var(--size-3xl);
  }
  .footer__info-hours {
    font-size: var(--size-xl);
  }
  .footer__info-hours h3{
    font-size: var(--size-3xl);
  }
  .footer__nav {
    font-size: var(--size-2xl);
  }
  .footer__copyright {
    font-size: var(--size-lg);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .footer__sect{
    max-width: 1536px;
  }
}