/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

header {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.header__logo-wrapper {
  width: var(--size-9xl);
  margin-left: auto;
  margin-right: auto;
}

.header__logo-wrapper img{
  max-width: 100%;
  height: auto;
  display: block;
}

.header__links-desk {
  display: none;
  height: 100%;
  padding: .5em;
  gap: 1.2em;
  list-style: none;
  font-size: var(--size-sm);
  text-transform: uppercase;
}
.header__hamburger {
  position: fixed;
  z-index: 3;
  right: 2em;
  top: 2em;
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(5px);
  padding: .7em;
  border-radius: 50%;
  /* border: 1px solid green; */
  /* width: var(--size-3xl); */
}

.bar {
  display: block;
  width: 2em;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

.header__hamburger:hover{
  cursor: pointer;
}

.header__hamburger.active {
  background-color: transparent;
  backdrop-filter: none;
}

.header__hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.header__hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.header__hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.navLink:active{
  color: var(--clr-azure);
}


.mobile-menu {
  position: fixed;
  z-index: 2;
  right: -100%;
  top: 0em;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1em;
  background-color: rgba(0, 0, 0, 0.776);
  /* width: 200px; */
  /* border: 1px solid white; */
  /* background-color: bisque; */
  transition: .3s;
  padding: 7em 3em;
  height: 100vh;
}

.mobile-menu.active {
  right: -1px;
  backdrop-filter: blur(10px);
}
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  .header__links-desk{
    display: flex;
    /* border: 1px solid green; */
    font-size: var(--size-base);
    align-items: center;
  }
  .header__logo-wrapper{
    margin: 0;
  }
  .header__hamburger{
    display: none;
  }
  .mobile-menu{
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__logo-wrapper {
    width: var(--size-10xl);
  }
  .header__links-desk {
    gap: 2em;
    font-size: var(--size-lg)
  }
  .header__darkSwitch {
    width: var(--size-4xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__links-desk {
    gap: 3em;
    font-size: var(--size-lg)
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .header__links-desk {
    gap: 4em;
    font-size: var(--size-xl)
  }
}
