/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.hero {
  position: relative;
  height: 70vh;
  /* border: 1px solid green; */
}

.disclaimer {
  font-size: var(--size-xs);
  text-align: center;
  /* max-width: 645px; */
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.heroOverlay {
  inset: none;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.53);
  height: 50vh;
  width: 100%;
}
.heroVid {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 1px solid orange; */
  z-index: -2;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  /* border: 1px solid green; */
  height: 50vh;
  max-width: 30ch;
  gap: 1em;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: var(--size-2xl);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  font-size: var(--size-xl);
  padding: .5em;
}
/* default (mobile heights) */
.hero,
.heroOverlay,
.heroContainer {
  height: 70vh;
}

/* xs */
@media (min-width: 475px) {
  .btn{
    font-size: var(--size-2xl);
  }
  .heroContent{
    gap: 1.5em;
    font-size: var(--size-3xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .btn{
    font-size: var(--size-3xl);
  }
  .heroContent{
    font-size: var(--size-3xl);
  }
}

/* md */
@media (min-width: 768px) {
  .btn{
    font-size: var(--size-3xl);
  }
  .heroContent{
    font-size: var(--size-3xl);
  }
  .hero,
  .heroOverlay,
  .heroContainer {
    height: 60vh;
  }
}

/* lg */
@media (min-width: 1024px) {
  .btn{
    font-size: var(--size-3xl);
  }
  .heroContent{
    font-size: var(--size-4xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .btn{
    font-size: var(--size-3xl);
  }
  .heroContent{
    font-size: var(--size-5xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */