.membership__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

.membershipCTA {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.membershipBtn {
  margin: 1em;
}
.membershipCard  {
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
  margin: 1em 1em 0;
  padding: 0 0 1em 0;
  background-color: rgb(11, 20, 55);
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membershipCard-desc {
  /* border: 1px solid red; */
  padding: 1em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membershipCard-desc h3 {
  /* font-family: "Oswald", sans-serif; */
  font-weight: 500;
}

.gold {
  background: #FFC21A;
  background: -moz-linear-gradient(left, #FFC21A 0%, #D8A40A 45%, #BC8F09 100%);
  background: -webkit-linear-gradient(left, #FFC21A 0%, #D8A40A 45%, #BC8F09 100%);
  background: linear-gradient(to right, #FFC21A 0%, #D8A40A 45%, #BC8F09 100%);
}

.platinum {
  background: #EFE9E9;
  background: -moz-linear-gradient(left, #EFE9E9 0%, #CEC9C9 45%, #A29F9F 100%);
  background: -webkit-linear-gradient(left, #EFE9E9 0%, #CEC9C9 45%, #A29F9F 100%);
  background: linear-gradient(to right, #EFE9E9 0%, #CEC9C9 45%, #A29F9F 100%);
}

.membershipCard  ul {
  list-style: none;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  font-style: italic;
}

/* xs */
@media (min-width: 475px) {
  .membershipCard-desc{
    font-size: var(--size-base);
  }
  .membershipCard ul {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .membershipCard-desc{
    font-size: var(--size-lg);
  }
  .membershipCard ul {
    font-size: var(--size-lg);
  }
}

/* md */
@media (min-width: 768px) {
  .membershipCard{
    max-width: 640px;
  }
  .membershipCard-desc{
    font-size: var(--size-xl);
  }
  .membershipCard ul {
    font-size: var(--size-xl);
    gap: 1em;
  }
}

/* lg */
@media (min-width: 1024px) {
  .membership__page {
    text-align: center;
  }
  .membership__container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .membershipCard {
    max-width: none;
    height: 30em;
  }
  .membershipCard ul {
    margin: auto;
  }
  .membershipCard-desc{
    font-size: var(--size-2xl);
  }
  .membershipCard ul {
    font-size: var(--size-2xl);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

