.merchHero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.merchHero-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  height: 30em;
  z-index: 1;
  width: 100%;
  background: var(--clr-overlay);
  padding: 1em;
  /* border: 5px solid white; */
}

.merchHero-img-wrapper {
  position: absolute;
  height: 30em;
  width: 100%;
  /* border: 1px solid green; */
}

.merchHero-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: right;
}

.merchCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid red; */
  background: var(--clr-overlayLight);
}

.prod2 {
  background: var(--clr-overlay);
}
.prod1, .prod3 {
  background: var(--clr-overlayDark);
}
.merchCard-img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.merchCard-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hoodieCard img{
  transform: scale(1.2);
}

.merchCategories {
  display: grid;
  /* border: 1px solid red; */
  grid-template-rows: 1fr 1fr 1fr;
  height: 40em;
  padding: 1em;
  gap: 1em;
}

.merchHero-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.merchCard-text {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 94%; */
  /* height: 94%; */
  color: var(--clr-light);
  font-size: var(--size-2xl);
}

/* .secondCard {
  border: 2px solid var(--clr-azure);
} */

.merchCard:hover{
  /* background-color: red; */
  .merchCard-img {
    transform: scale(1.1);
    transition: ease-in-out .2s;
  }
}
/* xs */
@media (min-width: 475px) {
  .merchHero-title {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .merchCategories {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* md */
@media (min-width: 768px) {
  .merchHero-title {
    max-width: 640px;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */