/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */



.programs {
  /* padding: 5em 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-dark);
}

.programs__content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2em;
  /* border: 1px solid yellow; */
}

.program__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid green; */
}

.program__card {
  position: relative;
  height: 25em;
  width: 100%;
  background-color: var(--clr-azure);
  /* background-color: rgb(11, 32, 127); */
  margin: .5em 0;
  padding: 1em 5em 1.75em 1.5em;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1em;
  border-radius: 5%;
  z-index: 1;
  overflow: hidden;
  
  -webkit-box-shadow: inset 4px 4px 15px 0px #000000, -39px -50px 0px -30px rgba(0,0,0,0);
  box-shadow: inset 4px 4px 15px 0px #000000, -39px -50px 0px -30px rgba(0,0,0,0);

}

.p-card2 {
  background-color: #072646;
}

/* .program__card p {
  border: 1px solid white;
} */

.program-card-img-wrap {
  position: absolute;
  opacity: .7;
  display: block;
  /* height: 100%; */
  z-index: -1;
  inset: 0;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.program-card-img-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
}


/* BASE FONT SIZES */
.program__card h2 {
  font-size: var(--size-xl);
}

.program__card p {
  font-size: var(--size-base);
}

/* xs */
@media (min-width: 475px) {
  .program__container{
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .program__container{
    max-width: 640px;
    gap: 1.2em;
  }
  .program__card{
    height: 30em;
    padding: 1em 5em 2em 1.2em;
  }
  .program__card h2 {
    font-size: var(--size-3xl);
  }
  
  .program__card p {
    font-size: var(--size-xl);
  }
}

/* md */
@media (min-width: 768px) {
  
}

/* lg */
@media (min-width: 1024px) {
  .program__container{
    max-width: 1075px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
  }
  .program__card {
    height: 27em;
    text-align: center;
    justify-content: center;
    padding: 3em 1em;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
  .program-card-img-wrap img {
    opacity: 0.3
  }
  .program__card h2 {
    font-size: var(--size-3xl);
    padding: 2em 0 .2em;
  }
  
  .program__card p {
    font-size: var(--size-2xl);
    padding-bottom: 1em;
  }
}

/* xl */
@media (min-width: 1280px) {
  .program__card{
    height: 30em;
  }
  .program__container{
    max-width: 1280px;
  }
  .program__card h2 {
    font-size: var(--size-4xl);
    padding: 3em 0 .4em;
  }
  
  .program__card p {
    font-size: var(--size-3xl);
    padding-bottom: 1.5em;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .program__card{
    height: 35em;
  }
  .program__container{
    max-width: 1536px;
  }
  .program__card h2 {
    padding: 2.75em 0 .5em;
  }
  
  .program__card p {
    padding-bottom: 2em;
  }
}

