/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

/* TODO: Fix Image on md query */
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
}

.story__media{
  width: 100%;
  /* overflow: hidden; */
  /* border: 1px solid green; */
}

.story__Card {
  position: relative;
  overflow: hidden;
}

.story__Card > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.story__desc {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

.story__btn {
  width: 10em;
  align-self: center;
}


/* xs */
@media (min-width: 475px) {
  .story__desc{
    max-width: 475px;
    font-size: var(--size-xs);
  }
}

/* sm */
@media (min-width: 640px) {
  .story__media {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'pic1 pic2'
    'pic1 pic3';
  }
  .card1{grid-area: pic2;}
  .card2{grid-area: pic1;
    object-fit: contain;
    object-position: center;}
  .card3{grid-area: pic3;}
  .story__desc{
    max-width: 640px;
    font-size: var(--size-sm);
  }
}

/* md */
@media (min-width: 768px) {
  .story__media{
    height: 50vh;
  }
  .story__desc{
    max-width: 768px;
    font-size: var(--size-base);
  }
}

/* lg */
@media (min-width: 1024px) {
  .story__desc{
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .story__desc{
    font-size: var(--size-xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .story__desc{
    max-width: 950px;
    font-size: var(--size-2xl);
  }
}