:root {
  /* colors */
    --clr-azure: #1888ff;
    --clr-card: #2126b9;
    --clr-light: #FFFFFF;
    --clr-dark: #0D0011;
    --clr-purple: #15052f;
    --clr-platinum: #EFE9E9;
    /* --clr-purple: #0d021f; */
    --clr-accent: #2b2b2b;
    --clr-accentLighter: #424040;
    --clr-overlay: #00000045;
    --clr-overlayLight: #00000017;
    --clr-overlayDark: #0000008a;
  
  /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}


.titleFont {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

a:hover {
  color: var(--clr-azure);
  transition: color .2s ease-in;
}


strong {
  color: var(--clr-azure);
  text-transform: uppercase;
}

.fontFX {
  color: transparent; /* Makes the text fill transparent */
  -webkit-text-stroke: 1px white; /* Sets stroke width and color */
  text-stroke: 1px black; /* For Firefox and other supporting browsers */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
