/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.container {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
  /* border: 1px solid red; */
}

.section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.btn {
  font-family: "Oswald", sans-serif;
  border: 1px solid var(--clr-light);
  border-radius: 2em;
  padding: .5em 1em;
  color: var(--clr-light);
  /* background-color: transparent; */
  background-color: var(--clr-overlayLight);
}

.btn:hover {
  cursor: pointer;
  color: var(--clr-light);
  background-color: var(--clr-azure);
  transition: .15s ease;
}

.titleFont {
  font-size: var(--size-3xl);
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
  .titleFont {
    font-size: var(--size-3xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .titleFont {
    font-size: var(--size-4xl);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .titleFont {
    font-size: var(--size-5xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .titleFont {
    font-size: var(--size-6xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  .titleFont {
    font-size: var(--size-7xl);
  }
}