.benefits__container{align-items:center;justify-content:center;gap:2em}
.benefits,.benefits__container,.benefits__container ul{display:flex;flex-direction:column}
.fontOnly{font-family:"Oswald",sans-serif}
.benefits__container ul{height:20em;list-style:none;padding:3em .5em;gap:1em;align-items:center;justify-content:center;text-align:center;border-bottom:1px solid #fff}
.benefits__container ul li img{display:block;width:5em}
.first,.third{background-color:var(--clr-card)}
@media (min-width:475px){.benefits{max-width:475px}
.benefits__container ul{padding:2em}
}
@media (min-width:640px){.benefits{max-width:640px;align-items:center;justify-content:center}
.benefits__container ul{padding:2em}
}
@media (min-width:768px){.benefits{max-width:768px;display:grid;grid-template-columns:repeat(auto-fit,minmax(320px,1fr))}
.benefits__container ul{padding:3em;display:grid;grid-template-rows:subgrid;grid-row:span 3;text-align:center;align-items:center;justify-content:center;border:1px solid #fff}
.benefits__container ul li{display:flex;align-items:center;justify-content:center}
.fontOnly{height:3em;font-size:var(--size-lg)}
.second,.third{background-color:var(--clr-dark)}
.first,.fourth{background-color:var(--clr-card)}
}
@media (min-width:1024px){.benefits{max-width:1024px;grid-template-columns:repeat(auto-fit,minmax(510px,1fr))}
.benefits__container ul{padding:3em}
.fontOnly{height:2em;font-size:var(--size-xl)}
}
@media (min-width:1280px){.benefits{max-width:1280px;grid-template-columns:repeat(auto-fit,minmax(610px,1fr))}
.benefits__container ul{padding:3.5em}
.fontOnly{height:2.25em;font-size:var(--size-2xl)}
}