.hero{position:relative}
.heroText{display:flex;flex-direction:column;gap:.5em}
.heroOverlay,.heroVid{position:absolute;width:100%}
.heroOverlay{inset:none;z-index:-1;background-color:rgba(0,0,0,.53)}
.heroVid{height:100%;object-fit:cover;z-index:-2}
.heroContainer,.heroContent{display:flex;justify-content:center;align-items:center}
.heroContent{height:50vh;max-width:30ch;gap:1em;flex-direction:column;font-family:"Oswald",sans-serif;font-size:var(--size-2xl);text-align:center}
.btn{text-transform:uppercase;font-size:var(--size-xl);padding:.5em}
.hero,.heroContainer,.heroOverlay{height:70vh}
@media (min-width:475px){.btn{font-size:var(--size-2xl)}
.heroContent{gap:1.5em;font-size:var(--size-3xl)}
}
@media (min-width:640px){.btn,.heroContent{font-size:var(--size-3xl)}
}
@media (min-width:768px){.btn,.heroContent{font-size:var(--size-3xl)}
.hero,.heroContainer,.heroOverlay{height:50vh}
}
@media (min-width:1024px){.btn{font-size:var(--size-3xl)}
.heroContent{font-size:var(--size-4xl)}
}
@media (min-width:1280px){.btn{font-size:var(--size-3xl)}
.heroContent{font-size:var(--size-5xl)}
}