.programs,.programs__content{display:flex;flex-direction:column;align-items:center}
.programs__content{padding:1em;justify-items:center;gap:2em}
.program__card,.program__container{width:100%;display:flex;flex-direction:column}
.program__container{align-items:center}
.program__card{position:relative;height:25em;background-color:var(--clr-azure);margin:.5em 0;padding:1em 5em 1.75em 1.5em;justify-content:end;gap:1em;border-radius:5%;z-index:1;overflow:hidden;-webkit-box-shadow:inset 4px 4px 15px 0#000,-39px -50px 0-30px transparent;box-shadow:inset 4px 4px 15px 0#000,-39px -50px 0-30px transparent}
.p-card2{background-color:#072646}
.program-card-img-wrap,.program-card-img-wrap img{position:absolute;object-fit:cover;object-position:center}
.program-card-img-wrap{opacity:.7;display:block;z-index:-1;inset:0;overflow:hidden}
.program-card-img-wrap img{width:100%;height:100%;opacity:.4}
.program__card h2{font-size:var(--size-xl)}
.program__card p{font-size:var(--size-base)}
@media (min-width:475px){.program__container{max-width:475px}
}
@media (min-width:640px){.program__container{max-width:640px;gap:1.2em}
.program__card{height:30em;padding:1em 5em 2em 1.2em}
.program__card h2{font-size:var(--size-3xl)}
.program__card p{font-size:var(--size-xl)}
}
@media (min-width:1024px){.program__container{max-width:1075px;display:grid;grid-template-columns:repeat(auto-fit,minmax(320px,1fr))}
.program__card{height:27em;text-align:center;justify-content:center;padding:3em 1em;display:grid;grid-template-rows:subgrid;grid-row:span 3}
.program-card-img-wrap img{opacity:.3}
.program__card h2{font-size:var(--size-3xl);padding:2em 0 .2em}
.program__card p{font-size:var(--size-2xl);padding-bottom:1em}
}
@media (min-width:1280px){.program__card{height:30em}
.program__container{max-width:1280px}
.program__card h2{font-size:var(--size-4xl);padding:3em 0 .4em}
.program__card p{font-size:var(--size-3xl);padding-bottom:1.5em}
}
@media (min-width:1536px){.program__card{height:35em}
.program__container{max-width:1536px}
.program__card h2{padding:2.75em 0 .5em}
.program__card p{padding-bottom:2em}
}